@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Moirai+One&display=swap');

html,
body {
    margin: 0px;
    height: 100%;
}

body {
    background-image: url(../img/safari-background.jpg);
    background-size: 100% 100%;
}

.fondo-difuminado {
    position: absolute;
    width: 95%;
    height: 95%;
    top: 3%;
    left: 3%;
    right: 3%;
    bottom: 3%;
    background-color: #000000ab;
    box-shadow: 0px 4px 7px 7px #0000007a;
}

.group-config {
    position: absolute;
    top: 4%;
    right: 3%;
    display: flex;
    gap: 20px;
}

.group-config i{
    color: white;
    font-size: 30px;
}

.card-logo {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    text-align: center;
    background-color: #0b0a0ab5;
    font-family: Arial, sans-serif;
}

.card-logo .title {
    font-family: "Bebas Neue-Regular", Helvetica;
    font-weight: 900;
    font-size: 36px;
    text-shadow: -6px 1px 11px #d66b09;
    -webkit-text-fill-color: rgb(0, 0, 0);
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

.rectangle-superior,
.rectangle-inferior {
    height: 9px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #ffffff;
    box-shadow: -2px 1px 4px #d66c0986;
    margin: 10px auto;
}


.grupo-redes {
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 40px;
}

.grupo-redes a {
    color: white;
    font-size: 30px;
}


/*
  .pagina-inicio-FINAL .group {
    position: absolute;
    width: 50px;
    height: 45px;
    top: 50px;
    left: 1181px;
  }
  
  .pagina-inicio-FINAL .grupo-redes {
    position: absolute;
    width: 246px;
    height: 32px;
    top: 521px;
    left: 522px;
  }
  
  .pagina-inicio-FINAL .card-logo {
    position: absolute;
    width: 805px;
    height: 141px;
    top: 63px;
    left: 243px;
  }
  
  .pagina-inicio-FINAL .overlap-group {
    position: absolute;
    width: 803px;
    height: 141px;
    background-color: #0b0a0ab5;
    border-radius: var(--shape-corner-medium);
  }
  
  .pagina-inicio-FINAL .text-wrapper {
    position: absolute;
    width: 654px;
    top: 0;
    left: 0;
    text-shadow: -6px 1px 11px #d66b09;
    -webkit-text-stroke: 3px #ffffff;
    font-family: "Bebas Neue-Regular", Helvetica;
    font-weight: 400;
    color: #1e1e1e;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1.80px;
    line-height: 43.2px;
  }



  
  .pagina-inicio-FINAL .card-play {
    position: absolute;
    width: 372px;
    height: 227px;
    top: 253px;
    left: 676px;
  }
  
  .pagina-inicio-FINAL .overlap-2 {
    position: relative;
    width: 370px;
    height: 227px;
    background-color: #0b0a0ab5;
  }
  
  .pagina-inicio-FINAL .text-wrapper-2 {
    position: absolute;
    width: 307px;
    top: 35px;
    left: 22px;
    font-family: "Bebas Neue-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: 49.2px;
  }
  
  .pagina-inicio-FINAL .image {
    position: absolute;
    width: 145px;
    height: 116px;
    top: 91px;
    left: 105px;
  }
  
  .pagina-inicio-FINAL .car-explore {
    position: absolute;
    width: 383px;
    height: 227px;
    top: 253px;
    left: 243px;
  }
  
  .pagina-inicio-FINAL .overlap-3 {
    position: relative;
    width: 381px;
    height: 227px;
    background-color: #0b0a0ab5;
    border-radius: var(--shape-corner-medium);
  }
  
  .pagina-inicio-FINAL .img {
    position: absolute;
    width: 171px;
    height: 139px;
    top: 68px;
    left: 105px;
  }
  
  .pagina-inicio-FINAL .text-wrapper-3 {
    position: absolute;
    width: 316px;
    top: 12px;
    left: 25px;
    font-family: "Bebas Neue-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: 41.0px;
    white-space: nowrap;
  }
  
  .pagina-inicio-FINAL .icon {
    position: absolute;
    width: 53px;
    height: 40px;
    top: 53px;
    left: 1115px;
  }
  */